In [8]:
import spacy
npl = spacy.load('en_core_web_sm')

import docx

def read_doc(file):
    doc = docx.Document(file)
    fullText = []
    for para in doc.paragraphs:
        fullText.append(para.text)
    return '\n'.join(fullText)


text = read_doc('C:\\dev\\nlp_practice\\data\\Brexit.docx')


# normalize whitespace
text = text.replace('\xa0', ' ')

doc = npl(text)
text

'Brexit is the impending withdrawal of the United Kingdom (UK) from the European Union (EU). In a referendum on 23 June 2016, a majority of British voters supported leaving the EU. On 29 March 2017, the UK government invoked Article 50 of the Treaty on European Union. The European Union (Withdrawal) Act 2018 declares "exit day" to be 29 March 2019 at 11 p.m. (Central European Time).\nPrime Minister Theresa May announced the government\'s intention not to seek permanent membership of the European single market or the EU customs union after leaving the EU and promised to repeal the European Communities Act of 1972 and incorporate existing European Union law into UK domestic law. A new government department, the Department for Exiting the European Union, was created in July 2016.\nNegotiations with the EU officially started in June 2017, aiming to complete the withdrawal agreement by October 2018. In June 2018, the UK and the EU published a joint progress report outlining agreement on issues including customs, VAT and Euratom.\nThe UK joined the European Communities (EC) in 1973, with membership confirmed by a referendum in 1975. In the 1970s and 1980s, withdrawal from the EC was advocated mainly by Labour Party members and trade union figures. From the 1990s, the main advocates of withdrawal were the newly founded UK Independence Party (UKIP) and an increasing number of Eurosceptic Conservative Party members. Prime Minister David Cameron held the referendum in fulfilment of a 2015 manifesto pledge. Cameron, who had campaigned for "Remain", resigned after the referendum result and was succeeded by Theresa May, who called a snap general election less than a year later, in which she lost her overall majority. Her minority government is supported in key votes by the Democratic Unionist Party.\nSix weeks after the referendum, the Bank of England introduced quantitative easing and lower interest rates, thus allowing both depreciation of sterling and a rise in inflation that outpaced wage growth for most of 2017. The drop in the value of sterling has been claimed to have been caused in part by hedge-fund managers betting on Brexit against polls predicting a narrow victory for the "Remain" camp. \nThere is a broad consensus in existing economic research that Brexit is likely to reduce the UK\'s real per capita income in the medium term and long term. There is also agreement among economists that the Brexit referendum itself damaged the economy in the subsequent two years. Studies on effects that have materialised since the referendum show annual losses of £404 for the average UK household, and losses between 1.3% and 2.1% of UK GDP. Brexit is likely to reduce immigration from European Economic Area (EEA) countries to the UK, and poses challenges for UK higher education and academic research. As of June 2018, the size of the "divorce bill", the UK\'s inheritance of existing EU trade agreements, and relations with Ireland and other EU member states remain uncertain. The precise impact on the UK depends on whether the process will be a "hard" or a "soft" Brexit.\n'

In [11]:
import pandas as pd
pos_data = []
for token in doc:
    pos_data.append({
        "Token": token.text,
        "POS": token.pos_,
        "Tag": token.tag_,
        "Dep": token.dep_,
        "Shape": token.shape_,
        "Is Alpha": token.is_alpha,
        "Is Stop": token.is_stop
    })

pos_df = pd.DataFrame(pos_data)
pos_df

          Token    POS  Tag    Dep  Shape  Is Alpha  Is Stop
0        Brexit  PROPN  NNP  nsubj  Xxxxx      True    False
1            is    AUX  VBZ   ROOT     xx      True     True
2           the    DET   DT    det    xxx      True     True
3     impending    ADJ   JJ   amod   xxxx      True    False
4    withdrawal   NOUN   NN   attr   xxxx      True    False
..          ...    ...  ...    ...    ...       ...      ...
587        soft    ADJ   JJ   amod   xxxx      True    False
588           "  PUNCT   ''  punct      "     False    False
589      Brexit  PROPN  NNP   conj  Xxxxx      True    False
590           .  PUNCT    .  punct      .     False    False
591          \n  SPACE  _SP    dep     \n     False    False

[592 rows x 7 columns]

In [12]:
ner_data = []
for ent in doc.ents:
    ner_data.append({
        "Text": ent.text,
        "Start Char": ent.start_char,
        "End Char": ent.end_char,
        "Label": ent.label_
    })

ner_df = pd.DataFrame(ner_data)
ner_df

                  Text  Start Char  End Char   Label
0               Brexit           0         6  PERSON
1   the United Kingdom          38        56     GPE
2                   UK          58        60     GPE
3   the European Union          67        85     ORG
4                   EU          87        89     ORG
..                 ...         ...       ...     ...
75                  EU        2907      2909     ORG
76             Ireland        2947      2954     GPE
77                  EU        2965      2967     ORG
78                  UK        3026      3028     GPE
79              Brexit        3089      3095  PERSON

[80 rows x 4 columns]